:root {
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  height: auto;
  max-width: 100%;
}
address {
  font-style: normal;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
}

.list {
  list-style: none;
}
.link,
.link-a {
  text-decoration: none;
}
.container {
  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 428px) {
  .container {
    max-width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .mobile-menu-open {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
/**
  |============================
  | Tab version
  |============================
*/
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
.logo-type {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  display: flex;
  align-items: center;
  margin-right: 76px;
}
.logo {
  color: var(--color-grey);
}
.header-list {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
  .header-contacts {
    display: none;
  }
}
/* tab-version */
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color var(--transition);
}
.header-link:hover,
.header-link:focus {
  color: var(--color-ocean);
}
.address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.header-address:hover,
.header-address:focus {
  color: var(--color-ocean);
}
.header-address {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  transition: color var(--transition);
}
/* Header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container {
  padding-top: 24px;
  padding-bottom: 22px;
}
.mobile-menu-open {
  /* opacity: 1; */
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
.mobile-menu-open-icon {
  stroke: var(--color-grey);
  top: 24px;
  right: 24px;
}
/* mobile-menu-close */
.mobile-menu-close-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  height: 100%;
  padding: 80px 24px 40px 40px;
  background-color: var(--color-white);
  z-index: 1000;
  transition: var(--transition);
  transform: translateX(100%);
  overflow-y: auto;
}
.mobile-menu-close-container.is-open {
  transform: translateX(0);
}
.mobile-menu-close-container:hover .mobile-menu-open,
.mobile-menu-close-container:focus .mobile-menu-open {
  transform: translate(0 0);
}
@media screen and (min-width: 768px) {
  .mobile-menu-close-container {
    display: none;
  }
}
.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: rgba(231, 233, 252, 0.1);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: var(--transition);
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}
.mobile-menu-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}
.active {
  color: var(--color-ocean);
}


.mobile-menu-header:hover,
.mobile-menu-header:focus {
  color: var(--color-ocean);
  transition: transform var(--transition);
}
.mobile-menu-address {
  font-style: normal;
}
.mobile-menu-contacs {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}
.mobile-menu-contacs-tel {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-iris);
}
@media only screen and (min-width: 320px) and (max-width: 427px) {
  .mobile-menu-contacs-tel {
    font-size: 26px;
  }
}
.mobile-menu-contacs-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.mobile-menu-socials {
  display: flex;
  gap: 56px;
}
@media only screen and (min-width: 320px) and (max-width: 427px) {
  .mobile-menu-socials {
    gap: 34px;
  }
}
.mobile-menu-socials-list {
  width: 40px;
  height: 40px;
}
.mobile-menu-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;
}
.mobile-menu-close-container .is-open {
  visibility: visible;
  pointer-events: auto;
}
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid var(--color-cornflower);
}
.logo-type {
  display: flex;
  align-items: center;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.logo {
  color: var(--color-grey);
}
.header-list {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
  .header-contacts {
    display: none;
  }
}
.header-link {
  position: relative;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  transition: color var(--transition);
}
.header-link:hover,
.header-link:focus {
  color: var(--color-ocean);
}
.header-link-after::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-ocean);
  border-radius: 2px;
  content: "";
  margin: 0 auto;
}
.header-link-after {
  color: var(--color-ocean);
}
.header-address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  display: flex;
  align-items: center;
  transition: color var(--transition);
}
.contact-mailto-nunber,
.contact-mailto-nunbe {
  color: var(--color-ocean);
}
.header-address:hover,
.header-address:focus {
  color: var(--color-ocean);
}
.contact {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-contacts {
  font-style: normal;
  margin-left: auto;
}
@media screen and (min-width: 1158px) {
  .contact {
    flex-direction: inherit;
    gap: 40px;
  }
  .header-container {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.header {
  border-bottom: 1px solid var(--color-cornflower);
  background-color: var(--color-white);
}
.page-nav {
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .contact {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    gap: 12px;
  }
  .mobile-menu-open {
    display: none;
  }
  .header-container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .header-address {
    font-size: 12px;
  }
}
/**
  |============================
  | Hero-Section
  |============================
*/
.hero-section {
  background: var(--color-grey);
  padding: 188px 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office.jpg);
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #303030;
}
.modal-btn:hover,
.modal-btn:focus {
  background: var(--color-ocean);
  color: var(--color-white);
}
@media only screen and (max-width: 428px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/mob/people-office-mob.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/mob/people-office-mob@2x.jpg");
    }
  }
}
@media only screen and (min-width: 429px) and (max-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/tab/people-office-tab.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/tab/people-office-tab@2x.jpg");
    }
  }
}
@media only screen and (min-width: 768px) {
  .hero-section {
    height: 436px;
  }
}
@media only screen and (min-width: 769px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/des/people-office-des.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/des/people-office-des@2x.jpg");
    }
  }
}
@media only screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;
    max-width: 1440px;
    height: 600px;
  }
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--color-white);
  max-width: 496px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.modal-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background: var(--color-iris);
  cursor: pointer;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 16px 32px;
  border: none;
  height: 56px;
  min-width: 169px;
  border-radius: 4px;
  transition: color var(--transition), background var(--transition);
}
.modal-btn:hover,
.modal-btn:focus {
  background: var(--color-ocean);
  color: var(--color-white);
}
@media screen and (max-width: 767px) {
  .main-title {
    max-width: 320px;
    font-size: 36px;
  }
  .modal-btn {
    margin-top: 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .modal-btn {
    margin-top: 36px;
  }
}
@media screen and (max-width: 1157px) {
  .hero-section {
    padding: 112px 0;
  }
}
/* Section 2 */
.desc-section {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.flex-container-s {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.flex-items-s {
  flex-basis: calc((100% - 72px) / 4);
}
.flex-h-s {
  display: flex;
  margin-bottom: 8px;
  margin-left: 0;
}
.desc-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.desc-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}
.icon {
  display: flex;
  height: 112px;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  background: var(--color-cloud);
  border-radius: 4px;
}
@media only screen and (min-width: 320px) and (max-width: 414px) {
  .desc-text {
    width: 100%;
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .flex-container-s {
    flex-direction: column;
    gap: 72px;
  }
  .flex-h-s {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
  .desc-text {
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .flex-container-s {
    width: 736px;
    gap: 72px 24px;
  }
  .flex-items-s {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (max-width: 1157px) {
  .icon {
    display: none;
  }
  .desc-section {
    padding: 96px 0;
  }
  .desc-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
}
/**
  |============================
  |       About-Section
  |============================
*/
.about-section {
  padding-bottom: 120px;
}
.about-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--color-grey);
}
.about-flex-list {
  display: flex;
  gap: 24px;
}
.about-flex-title {
  margin-bottom: 72px;
}
.about-flex-item {
  flex-basis: calc((100% - 48px) / 3);
}
@media screen and (max-width: 1157px) {
  .about-section {
    display: none;
  }
}
@media screen and (min-width: 1157px) {
  .about-flex-list {
    width: 1128px;
  }
}
/**
  |============================
  | Team section
  |============================
*/
.team-flex-title {
  margin-bottom: 72px;
}
.team-flex-list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 24px;
}
.team-flex-item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-content {
  padding: 32px 0;
}
.subtitle {
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  text-align: center;
}
.team-section {
  background: var(--color-cloud);
  padding: 120px 0;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--color-grey);
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  margin-bottom: 8px;
}
.img {
  background-color: var(--color-white);
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-item {
  width: 40px;
  height: 40px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-iris);
  transition: background-color var(--transition);
}
.social-list-icon {
  fill: currentColor;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--color-ocean);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--color-cloud);
}
@media screen and (max-width: 767px) {
  .team-flex-list {
    flex-direction: column;
    gap: 72px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team-container {
    max-width: 768px;
  }
  .team-flex-list {
    flex-wrap: wrap;
    gap: 64px 24px;
    margin-right: 0;
  }
  .img {
    width: 100%;
  }
  .team-flex-item {
    flex-basis: calc((100% - 210px) / 2);
  }
}
@media screen and (max-width: 1157px) {
  .team-section {
    padding: 96px 0;
  }
}
/*======================== Section 5 ========================  */
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 72px;
  color: var(--color-grey);
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 24px;
}
.customers-list-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-list-link {
  width: 100%;
  height: 100%;
}
.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-light-slate);
  border-radius: 4px;
  color: var(--color-light-slate);
  transition: color var(--transition);
}
.customers-list-link:hover,
.customers-list-link:focus {
  border-color: var(--color-ocean);
  color: var(--color-ocean);
}
.customers-list-icon {
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .container-customers {
    max-width: 396px;
  }
  .customers-list-item {
    width: 100%;
    width: calc((100% - 48px) / 2);
    gap: 72px 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container-customers {
    max-width: 582px;
  }
  .customers-list-item {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    width: calc((100% - 48px) / 3);
    gap: 72px 24px;
  }
}
/*======================== Footer ============================ */
.footer {
  background: var(--color-grey);
  padding: 100px 0;
}
.logo-type-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
}
.logo-type-footer {
  margin-bottom: 16px;
  display: inline-block;
}
.footer-text {
  max-width: 264px;
}
.footer-logo {
  color: var(--color-cloud);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.logo-type-text-footer {
  margin-right: 120px;
}
.social-network-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--color-white);
}
.social-network-list {
  display: flex;
  gap: 16px;
}
.social-network-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-iris);
  transition: background-color var(--transition);
}
.social-network-list-link:hover,
.social-network-list-link:focus {
  background-color: var(--color-green);
}
.social-network-list-icon {
  fill: var(--color-cloud);
}
.footer-email {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 80px;
}
.footer-email-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
.footer-email-form {
  display: flex;
  gap: 24px;
}
.footer-email-input {
  display: block;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  width: 300px;
  /* width: 264px; */
  height: 40px;
  padding: 8px 16px;
  box-sizing: border-box;
  border: 1px solid var(--color-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--color-grey);
  color: var(--color-white);
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: outline-color var(--transition);
}
@media only screen and (min-width: 428px) {
  .footer-email-input {
    width: 398px;
  }
}
@media only screen and (min-width: 768px) {
  .footer-email-input {
    width: 264px;
  }
}
.footer-email-btn {
  position: relative;
  display: flex;
  gap: 16px;
  min-width: 165px;
  height: 40px;
  padding: 8px 64px 8px 24px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  align-items: center;
  background-color: var(--color-iris);
  color: var(--color-white);
  transition: background-color var(--transition);
}
.footer-email-btn:hover,
.footer-email-btn:focus {
  background: var(--color-ocean);
  color: var(--color-white);
}
.footer-email-svg {
  position: absolute;
  display: block;
  top: 50%;
  left: 117px;
  transform: translateY(-50%);
  fill: var(--color-white);
}
/* ================ footer-mob ============= */
@media screen and (max-width: 767px) {
  .footer {
    align-items: center;
    
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
    max-width: 432px;
    padding: 0 0;
    margin-left: auto;
    margin-right: auto;
  }
  .logo-type-text-footer {
    margin-right: 0;
    margin-bottom: 72px;
    text-align: center;
  }
  .footer-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: 72px;
  }
  .footer-email-form {
    flex-direction: column;
    margin-left: 0;
  }
  .footer-email-btn {
    width: 165px;
    margin-left: auto;
    margin-right: auto;
  }
  .social-network-footer {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer {
    /* */
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-container {
    flex-wrap: wrap;
    max-width: 582px;
    padding: 0 0;
    margin-left: auto;
    margin-right: auto;
  }
  .logo-type-text-footer {
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .footer-email {
    margin-left: 0;
  }
}
/* Portfolio */
.menu-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background: var(--color-ocean);
  color: var(--color-white);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background-color: var(--color-cloud);
  cursor: pointer;
  transition: border var(--transition), color var(--transition),
    background var(--transition), box-shadow var(--transition);
}
/* Portfolio-container */
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.flex-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-btn {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--color-cornflower);
}
.flex-container-portfolio {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.flex-items-portfolio {
  width: calc((100% - 48px) / 3);
}
.post-ht {
  padding: 32px 16px;
  border: 1px solid var(--color-cornflower);
  border-top: none;
}
.post-heading {
  margin-bottom: 8px;
}
.link-a {
  display: block;
  transition: box-shadow var(--transition);
}
.link-a:hover,
.link-a:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  transition: transform 500ms linear;
  background: var(--color-iris);
  background-blend-mode: soft-light, normal;
  mix-blend-mode: normal;
  color: var(--color-cloud);
  padding-top: 40px;
  padding-bottom: 164px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.link-overlay {
  position: relative;
  overflow: hidden;
}
.link-a:hover .overlay,
.link-a:focus .overlay {
  transform: translate(0, 0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: var(--transition);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  background-color: var(--color-dairy);
  transition: transform;
  transition: var(--transition);
}
@media screen and (max-width: 767px) {
  .modal {
    max-width: 392px;
    width: 100%;
  }
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border-color var(--transition);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--color-ocean);
  border-color: var(--color-ocean);
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--color-cloud);
}
.modal-close-btn-icon {
  transition: fill var(--transition);
}
/* modal-form */
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-field {
  margin-bottom: 8px;
}
.modal-form-input-wrapper {
  display: block;
  position: relative;
}
.modal-form-input {
  padding: 0 38px;
  width: 100%;
  height: 40px;
  font-size: 18px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -2px;
  color: var(--color-light-slate);
  transition: outline-color var(--transition);
}
.modal-form-input-desc {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  margin-bottom: 4px;
  color: var(--color-light-slate);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--color-iris);
}
.modal-form-input-icon-vector {
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--transition);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--color-iris);
}
.modal-form-message {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  min-height: 120px;
  padding: 8px 16px;
  margin-bottom: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -2px;
  color: var(--color-grey);
  transition: outline-color var(--transition);
  resize: none;
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--color-iris);
}
.modal-form-check-desc::before {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  content: "";
  cursor: pointer;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/modal-vector-1.svg);
  transition: background-color var(--transition);
}
.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: var(--color-ocean);
}
.modal-form-check:focus + .modal-form-check-desc::before {
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.modal-form-submit {
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: var(--color-iris);
  color: var(--color-white);
  transition: background-color var(--transition);
}
.modal-form-check-desc {
  vertical-align: middle;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  /* margin-right: 8px; */
  margin-bottom: 24px;
  color: var(--color-light-slate);
}
.color-privace {
  color: var(--color-iris);
}
.modal-text-form {
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}
